[user]
	email = 1764158+gidsg@users.noreply.github.com
	name = Gideon Goldberg
	signingkey = 2D05F7A54E11F294

[alias]
  c = commit -m
  a = add
  aa= !git add -u && git add . && git status
  co = checkout
  cob = checkout -b
  up = !git fetch origin && git rebase origin/master
  ir = !git rebase -i origin/master
  po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\""
  recent = log --pretty=format:"%ad:%an:%d:%B" --date=short  --all --since=2.months.ago --author='Gideon Goldberg'

